/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --font: 'Karla', sans-serif;
  --bgColor: white;
  --accentColor: white;
}

* {
  margin: 0;
}

body {
  background-color: lightgray;
  background-size: cover;
  margin: 0;
}

div#header {
  margin: 0;
  padding: 0 8px;
}

img#coverPhoto {
  width: 100%;
  display: block;
}

div#bio {
  background-color: var(--bgColor);
  width: 100%;
  display: block;
}

img#logo {
  width: 120px;
  height: 120px;
  position: relative;
  top: -60px;
  float: left;
}

div p {
  font-family: var(--font);
}

div.bio-chip {
  height: 70px;
}

div.bio-chip p:first-of-type {
  padding-top: 12px;
  font-weight: bold;
  font-size: larger;
}

div.bio-chip p:nth-of-type(2) {
  font-weight: lighter;
  font-size: smaller;
}

div.bio-card {
  position: relative;
  top: -60px;
  clear: both;
  padding: 12px 12px 0 12px;
  height: calc-size(fit-content, size - 55px);
}

div.bio-card p {
  text-align: center;
}

/* social media icons */
div#socialLinks {
  background-color: var(--bgColor);;
  text-align: center;
  padding: 5px;
}

div#socialLinks img, div#socialLinks svg {
  height: 20px;
}

div#socialLinks a:hover img, div#socialLinks a:hover svg {
  transform: scale(1.2);
}

.userName{
    color: #1c1c1c;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-decoration: none;
}

.bi-shield-fill-check {
  color: dodgerblue;
}

.bi-geo-alt-fill {
  color: red;
}

#links{
  width: 100%;
  display: block;
  margin-top: 12px;
}

#links div {
  margin-left: 28px;
  margin-right: 28px;
}

.link{
  border-radius: 15px;
  display: block;
  background-color: var(--bgColor);;
  color: #1c1c1c;
  font-family: var(--font);
  text-align: center;
  margin-bottom: 10px;
  padding: 8px;
  text-decoration: none;
  font-size: 1rem;
  transition: all .25s cubic-bezier(.08,.59,.29,.99);
  border: solid var(--accentColor) 2px;
}

.link:hover{
  background-color: #5986e7;
  color: var(--accentColor);
}
